<!doctype html>
<html ng-app="UOSModelBuilder" lang="en" ng-controller="AppCtrl">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dropbox.js/0.10.2/dropbox.min.js"></script>
        <script src="javascript/angular.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="javascript/main.js"></script>
        <!-- Bootstrap -->
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="stylesheets/styles.css" rel="stylesheet" type="text/css"/>
    </head>
    <body class="uk">
        <div class="container">
            <div class="row-fluid">
                <ul class="nav nav-pills">
                    <li><a href="ReadingBlock.html">ReadingBlock</a></li>
                    <li><a href="Sentence.html">Sentence</a></li>
                    <li><a href="Paragraph.html">Paragraph</a></li>
                    <li><a href="QuestionAnswer.html">Questions & Answers</a></li>
                    <li class="active"><a href="CheckWord.html">Check Words</a></li>
                    <li><a href="CheckSound.html">Check Sounds</a></li>
                </ul>
            </div>
            <div class="row-fluid" ng-controller="CheckWordPageController">
                <!--==  PAGE HEADER  ==-->
                <div class="row-fluid">
                    <div class="span12">
                        <h2>Check Word Page Model creator</h2>
                        <input type="text" ng-model="pageModel.stage" placeholder="stage#">
                        <input type="text" ng-model="pageModel.page" placeholder="Page#">
                        <input class="btn btn-primary span2" ng-click="loadModel()" value="LOAD" ng-show="true"/>
                    </div>
                </div>
                <!--==  BODY ==-->
                <div class="row-fluid">
                    <!--==  Keep Word block on left  ==-->
                    <div class="span7">
                        <!--==  BLOCK REPEATER STARTS  ==-->
                        <div class="well row-fluid" ng-repeat="block in pageModel.blocks" ng-controller="BlockController">
                            <div class="row-fluid">
                                <!--==  WORD REPEATER STARTS  ==-->
                                <div class="span8 word" ng-repeat="word in block.words">
                                    <div class="row-fluid">
                                        <input class="span6" type="text" placeholder="word {{$index + 1}}" ng-model="word.text"/>
                                        <input class="span6" type="text" placeholder="syllable breakdown" ng-model="word.sylabuls"/>
                                    </div>
                                </div>
                                <!--==  WORD REPEATER ENDS  ==-->
                            </div>
                            <div class="row-fluid">
                                <div class="btn-group">
                                    <button class="btn" ng-click="addWord()">Add Word</button>
                                    <button class="btn btn-warning" ng-click="removeWord()">Remove Word</button>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="btn-group">
                                <button class="btn" ng-click="addBlock()">Add Block</button>
                                <button class="btn btn-warning" ng-click="removeBlock()">Remove Block</button>
                            </div>
                        </div>
                    </div>
                    <!--==  BLOCK REPEATER ENDS  ==-->
                    <div class="span4 offset1">
                        <p class="well">{{pageModel}}</p>
                    </div>
                </div>
                <!--==  PAGE FOOTER ==-->
                <div class="row-fluid">
                    <br/>
                    <br/>
                    <input class="btn btn-primary" ng-click="saveModel()" value="SAVE">
                </div>
            </div>
        </div>
    </body>
</html>



